html, body {
  padding:0; margin:0;
  overflow:hidden;
}
body {
  font: 13pt "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:bold;
  background: url(http://upload.wikimedia.org/wikipedia/commons/2/2e/Underwater_world.jpg);
  background-size: cover;
}
.linearCompass {
  border-style: solid;
  border-color:black;
  border-width:1pt 0 1pt 0;
  height:10%;
  text-align:center;
  background: rgba(255,255,255,0.3)
}
.verticallyCenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  line-height:0;
}
.depthGauge {
  float:left;
  border-right:1px solid black;
  width:10%;
  overflow:hidden;
  height:100%;
  padding-top:24px;
  background: rgba(255,255,255,0.3)

}
.depthIndicator {
  position: absolute;
  top: 50%;
  width:10%;
  height:0;
  border-top:1px solid black;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  /*box-shadow:0 0 5px black;*/

}
.depthIndicator:after {
  position:absolute;
  top:50%;
  right:0%;
  content: "◀";
  margin-right:-3px;

  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.depthMeter {
  width:100%;
  text-align:center;
  height:50px;
  line-height:50px;
  border-bottom:1px dotted rgba(0,0,0,0.8);
}
.depthUnit:after {
  content:"m";
}
.depthUnit:before {
  z-index:-1;
  display:block;
  width:100%;
  content:"";
  position:relative;
  top:-25px;
  border-bottom:1px ridge rgba(255,255,255,1) ;
}
.depthUnit {
  color: #000;
  text-shadow:0 0 3px white;

}
.depthValue {
  position:relative;
  z-index:2;
  left:102%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-shadow:0 0 3px white;

}
.depthValue:after {
  content: "m"
}